{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-concentric-order"
  ],
  "customSyntax": "postcss-html",
  "plugins": ["stylelint-order"]
}
